*.ckpt
*.ckpt
*.vscode
*.mp4
*.mp4
*.tdms
*.jpg
*.xml
*.idea
*.pyc
.DS_Store
Users/
*/__pycache__
__pycache__
*.vtk
*/.ipynb_checkpoints
.ipynb_checkpoints

mouse_connectivity

*/tempCodeRunnerFile.py

workspace.py
secrets

screenshot.png