*.ckpt
*.ckpt
*.vscode
*.mp4
*.mp4
*.tdms
*.jpg
*.xml
*.idea
*.pyc
*.vtk
*.obj
*.stl
*.nrrd
*.swc
*.json


User/


mouse_connectivity


*/tempCodeRunnerFile.py
*/.ipynb_checkpoints
.ipynb_checkpoints
*/__pycache__
__pycache__
.DS_Store
Users/

workspace.py
secrets

